.git
.gitignore
.github
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.env
.env.backup
npm-debug.log
.phpunit.result.cache
tests
.phpactor.json
.idea
.vscode
